<div class="input-group">
    <span class="input-group-btn">
        <button [ngClass]="btnClass" (click)="changeValue(-5)" type="button"><i class="fa fa-minus"></i></button>
    </span>
    <input type="number" class="form-control" [ngClass]="{'is-invalid': valueProgress > 100 || valueProgress < 0}" (ngModelChange)="onChange($event)" [(ngModel)]="valueProgress" placeholder="valor">
    <span class="input-group-btn">
        <button [ngClass]="btnClass" (click)="changeValue(5)" type="button"><i class="fa fa-plus"></i></button>
    </span>
</div>