<section id="wrapper" class="login-register login-sidebar" style="background-image:url(../assets/images/background/login-register.jpg);">
    <div class="login-box card">
        <div class="card-body">
            <form autocomplete="off" [formGroup]="registerForm" (ngSubmit)="createUser()" class="form-horizontal form-material" 
                id="loginform" action="index.html">
                <a href="javascript:void(0)" class="text-center db"><img src="../assets/images/logo-icon.png" alt="Home" /><br/><img src="../assets/images/logo-text.png" alt="Home" /></a>
                <h3 class="box-title m-t-40 m-b-0">Registrate ahora</h3><small>Crea tu cuenta y disfruta</small>
                <div class="form-group m-t-20">
                    <div class="col-xs-12">
                        <input class="form-control" type="text" formControlName="name" placeholder="Name">
                        <div *ngIf="isValidField('name')" class="col text-danger">
                            {{getMessageError("name")}}
                        </div>
                    </div>
                </div>
                <div class="form-group ">
                    <div class="col-xs-12">
                        <input class="form-control" type="text" formControlName="email" placeholder="Email">
                        <div *ngIf="isValidField('email')" class="col text-danger">
                            {{getMessageError("email")}}
                        </div>
                    </div>
                </div>
                <div class="form-group ">
                    <div class="col-xs-12">
                        <input class="form-control" type="password" formControlName="password" placeholder="Password">
                        <div *ngIf="isValidField('password')" class="col text-danger">
                            {{getMessageError("password")}}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <input class="form-control" type="password" formControlName="password2" placeholder="Confirm Password">
                    </div>
                    <div *ngIf="invalidPassword" class="col text-danger">
                        <p>Las contraseñas no coinciden</p>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-12">
                        <div class="checkbox checkbox-primary p-t-0">
                            <input id="checkbox-signup" formControlName="terms" type="checkbox">
                            <label for="checkbox-signup"> I agree to all <a href="#">Terms</a></label>
                        </div>
                        <div *ngIf="validateTerms()" class="col text-danger">
                            <p>* Debe aceptar los terminos</p>
                        </div>
                    </div>
                </div>
                <div class="form-group text-center m-t-20">
                    <div class="col-xs-12">
                        <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Sign Up</button>
                    </div>
                </div>
                <div class="form-group m-b-0">
                    <div class="col-sm-12 text-center">
                        <p>ya tienes una cuenta? <a routerLink="/login" class="text-info m-l-5"><b>Ingresar</b></a></p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
